form.signup,
form.login {
  margin-top: 50px;
}

.navbar-header {
  background-color: rgb(22, 73, 22);
  font: 50px;
  color: white;
  background-image: url("../stylesheets/forest\ header.jpg");
  background-repeat: no-repeat;
  background-size:cover ;
  height: 20pc;
  position: relative;
  width: 100%;
}

.navbar-brand {
  color: white;
}

body{
  background-color: rgb(22,73,22);

}

h1,h3,h2 {
  margin-left: 150px;
}

#display {
  margin-left: 150px;
  font-size: large;
  margin-right: 150px;

}

#logOut {
  margin-left: 1000px;
  margin-top: 145px;
}

.form-check-label {
  color: white;
  font-size: medium;
}

container-body {
  max-width: 500px;
}
.card {
  padding: 10px;
  border: black 2px solid;
  margin: 10px;
}

