form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-color: rgb(22, 73, 22);
  font: 50px;
  color: white;
  background-image: url("../stylesheets/forest\ header.jpg");
  background-repeat: no-repeat;
  background-size:cover ;
  height: 100vh;
  position: relative;
}

